body {
  font-family: sans-serif;
  background-color: rgb(21, 21, 21);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 492px;
}

form {
  display: flex;
  align-items: center;
}

h2 {
  margin-bottom: 0px;
}

h1,
h2,
span {
  cursor: default;
}

input:first-child {
  padding: 4.5px 35px 4.5px 10px;
  border-radius: 5px;
  font-size: 16px;
  border: solid gray 1.5px;
  width: 450px;
  box-sizing: border-box;
  background-color: rgb(21, 21, 21);
  color: white;
  margin-bottom: 25px;
}

input:last-child {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  padding: 0px;
  font-weight: 800;
  margin-left: -30px;
  background-color: rgba(255, 255, 255, 0);
  color: gray;
  margin-bottom: 25px;
}

input:last-child:hover {
  cursor: pointer;
  transform: scale(1.5);
}

li {
  display: flex;
  align-items: center;
  background-color: rgb(36, 36, 36);
  border-radius: 5px;
  margin: 0px 0px 7.5px -40px;
  padding: 5px 10px;
  width: 450px;
  box-sizing: border-box;
}

span {
  display: block;
  width: 400px;
  font-size: 16px;
  word-break: break-all;
}

button {
  margin-left: 8px;
  padding: 0px;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  border: none;
  font-size: 0;
  transition: transform 0.125s ease-in-out;
}

button:hover {
  transform: scale(2);
  cursor: pointer;
}

button:nth-child(2) {
  background-color: tomato;
}

.to-do-li button:last-child {
  background-color: yellowgreen;
}

.fin-li button:last-child {
  background-color: orange;
}
