body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  user-select: none;
  overflow: hidden;
  height: 100vh;
  text-shadow: black 0px 0px 5px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.js-clock div {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 96px;
  margin: 0px;
}

h2 {
  font-size: 48px;
  margin: 40px 10px 0px 0px;
}

.js-clock span {
  margin-top: -50px;
}

h4 {
  font-size: 20px;
}

.form,
.greets {
  display: none;
  margin: 40px;
}

.showing {
  display: block;
}

input[type="text"] {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-shadow: black 0px 0px 5px;
  border: none;
  border-bottom: rgba(255, 255, 255, 0.75) solid 1.5px;
  font-size: 16px;
  width: 400px;
  box-sizing: border-box;
  padding: 0px 0px 5px 0px;
  margin-left: 40px;
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

input,
button {
  position: relative;
  z-index: 1;
  outline: none;
}

input[type="submit"],
button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 16px;
  text-shadow: black 0px 0px 5px;
  border: none;
  border-radius: 5px;
  height: 25px;
  font-weight: bold;
  transition: background-color 0.25s ease-in-out;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
button:hover,
button:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.js-toDoList {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  height: 400px;
}

@keyframes fall {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

li {
  animation: fall 0.5s ease;
  display: flex;
  margin-bottom: 15px;
}

li span {
  width: 400px;
  display: block;
  word-break: break-all;
  margin-right: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.75;
  }
}

.bgImg {
  position: absolute;
  height: 56.25vw;
  width: 177.78vh;
  min-height: 100vh;
  min-width: 100vw;
  opacity: 0;
  animation: fadeIn 1s 1s linear forwards;
  z-index: -1;
  margin-top: -8px;
}

.js-weather {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.js-weather div {
  display: flex;
  align-items: center;
}

.js-weather div:first-child {
  font-size: 32px;
  height: 64px;
}

.js-weather img {
  height: 64px;
  width: 64px;
  margin-bottom: -10px;
}

.js-weather div:last-child {
  margin-top: 25px;
  margin-right: -7.5px;
}

.hide {
  display: none;
}
